.login {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	background-color: #FAF0E6;
	font-family: 'Damion', cursive;
	min-height: 100vh;

	.welcome-message {
		width: 32%;

		h1 {
			font-size: 4.5rem;
			font-weight: 600;
			margin-bottom: 2rem;
			color: #365478;
			font-family: 'Tangerine', cursive;
		}

		p {
			font-size: 1.8rem;
			margin-bottom: 5rem;
			color: rgba(113, 125, 139, 0.8);
			font-family: 'Damion', cursive;
			font-style: normal;
			font-weight: 500;
			line-height: 29px;
		}
	}

	p {
		font-size: 1.5rem;
		line-height: 20px;
	}

	@media (max-width: 800px) {
		flex-direction: column;
		align-items: center;

		.welcome-message {
			width: 77%;

			p {
				margin-bottom: 2rem;
			}
		}
	}
}

.form-container {
	width: 40%;
	display: flex;
	flex-direction: column;

	form {
		display: flex;
		flex-direction: column;

		label {
			margin-top: 20px;
			width: 100%;
		}

		input {
			width: 100%;
			height: 40px;
			border: none;
            background-color: #FAF0E6;
			border-bottom: 1px solid #274160;
			font-size: 1.8rem;
		}

		.eye {
			height: 35px;
			width: 35px;
			margin-top: 6px;
			border-bottom: 1px solid #274160;
		}

		.password-container {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
		}

		button {
			margin-top: 10px;
			height: 50px;
			width: 100%;
			border-radius: 25px;
			color: white;
			font-family: 'Tangerine', cursive;
			font-size: 1em;
			box-shadow: none;
			background-color: #274160;
		}
	}

	@media (max-width: 800px) {
		width: 75%;
	}
}