/* 
Biege: #FAF0E6
Green: #B3E6CC
Blue: #748FBF
Gold: #F5DF4E
Purple: #581845
Burgandy: #900C3F
White: #FBFBFB
Black: #202020
*/

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .promo {
        background-color: #B3E6CC; //light green
        margin: 2em;
        // width: 70%;
        // background-color: #87EA9D; //green
    }

    .options {
        display: flex;
        flex-direction: row;
        padding: 2em 0;

        .option {
            padding: 1em;
            margin: .5em;
            background-color: #748FBF;
            border: .1 solid black;
            border-radius: 50%;
        }
    }

    .carousel {
        margin: 3em 0;
    }

    .model {
        img {
            width: 70%;
        }
    }
    
    .products {
        display: flex;
        flex-direction: column;
    }

}