.listing {
    padding-top: 2.5em;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FBFBFB;
    border-right: .1em solid black;
    z-index: 10;

    @media (max-width: 800px) {
        width: 75%;
    }

    .options {
        text-decoration: none;
        font-size: 30px;
        color: black;
        padding: .5em;
    }

    .options:hover {
        box-shadow: 0 7px 5px black;
    }
}