.listing {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(250,240,230);
    border: 1px solid black;
    z-index: 10;
}