.listing {
    padding-top: 2.5em;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FBFBFB;
    border-right: .1em solid black;
    z-index: 10;

    @media (max-width: 800px) {
        width: 75%;
    }

    .options {
        padding: 0 1em;
    }

    .options:hover {
        box-shadow: 0 5px 5px black;
    }
}