.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    left: 0;
    height: 2.5em;
    width: 100%;
    position: fixed;
    background-color: rgb(250,240,230);
    border-bottom: .1em solid black;
    z-index: 10;
}

.searchBar input {
    width: 20em;
    padding: .7em;
    border-radius: 5em;
}

.searchBar .x {
    width: 1.5em;
    height: 1.5em;
    padding: .5em;
}